body div.container{
    height: 100%;
    padding: 0;
    width: calc(100% - 60px);
    margin-left: 60px;
}

body div.container .active{
	overflow: hidden;
}

header.s-header li a svg path{
    fill: #ff396e;
}

header .s-header-atender:before{
    border-radius: 100%;
    position: absolute;
    background: #231f20;
    left: -5px;
    top: -20px;
    content: '';
    z-index: -1;
    height: 90px;
    width: 75px;
}

.s-container{
	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.s-container-result{
    height: 70%;
    width: 70%;    
}

.s-container-form{
    height: 80%;
    overflow: hidden;
    width: 30%;
    box-shadow: 5px 12px 27px 0px #ccc;
}


.s-text-container{
    height: 41%;
    width: 140%;
	background: rgba(255,34,93,1);
	background: -moz-linear-gradient(-45deg, rgba(255,34,93,1) 0%, rgba(255,106,146,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,34,93,1)), color-stop(100%, rgba(255,106,146,1)));
	background: -webkit-linear-gradient(-45deg, rgba(255,34,93,1) 0%, rgba(255,106,146,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(255,34,93,1) 0%, rgba(255,106,146,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(255,34,93,1) 0%, rgba(255,106,146,1) 100%);
	background: linear-gradient(135deg, rgba(255,34,93,1) 0%, rgba(255,106,146,1) 100%);
    margin-left: -15%;
    margin-top: -35px;
    transform: rotateZ(10deg);
}


.s-container-form form{
    padding: 45px 20px;
}

.s-container-form form .form-group{
    margin-bottom: 10px;
}


.s-container-form form .form-group label{
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
}

.s-container-form form .form-group select{
    width: 100%;
    margin-top: 7px;
    background: transparent;
    padding: 6px;
    border-radius: 0; 
    color: #000;
    font-size: 11px;
    text-transform: uppercase;
    outline: none;
}

.s-container-form form .form-group button{
    background: #231f20;
    width: 50%;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-weight: 600;
    color: 	#ff396e;
    padding: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
    position: relative;
    height: 40px;
    /* box-shadow: 5px 5px 7px #ccc; */
    left: 50%;
    outline: none;
}

.modal-process{
	margin: 15px 0;
}

.s-container-result section.table{
    width: 90%;
    text-align: center;
    overflow: auto;
    height: 100%;
    position: relative;
    left: 10%;
}

section.table-processos{
    width: 100%;
    text-align: center;
    overflow: auto;
    height: 100%;
    position: relative;
    border: 1px solid #fff;
}

.s-container-result section.table div.thead,
section.table-processos div.thead-processos{
	/* position: fixed; */
    width: 100%;
    font-family: 'Dosis', sans-serif;
}

.s-container-result section.table div.tbody,
section.table-processos div.tbody-processos{
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}

.s-container-result section.table div .table-line,
section.table-processos div .table-line{
    display: flex;
    /* align-items: center; */
    text-align: center;
	width: 100%;	
}

.s-container-result section.table div.thead .table-line,
section.table-processos div.thead-processos .table-line{
    background: #231f20;
    color: 	#ff396e;
    text-transform: uppercase;
    font-size: 16px;
}

section.table-processos .table-line p{
    border-right: 1px solid #fff;
    justify-content: center;
    display: flex;
    align-items: center;
}

section.table-processos .table-line p:last-child{
	border-right: 0;
}


section.table-processos .table-line{
    border-bottom: 1px solid #fff;	
}


section.table-processos .tbody-processos .table-line:last-child{
    border-bottom: 0;	
}

.s-container-result section.table .table-line p{
	padding: 5px;
	width: 25%;
	margin: 0;
}

section.table-processos .table-line p{
	padding: 5px;
	width: 34%;
	margin: 0;
}

.input-table{
	position: absolute;
	bottom: 5%;
	left: 8%;
	display: none;
	margin: 0;
}

.input-table .atender,
.input-table .atender:hover,
.input-table .atender:active,
.input-table .atender:focus{
	border: 0;
    height: 40px;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    background: #ff396e;
    font-family: 'Montserrat', sans-serif;
}

.modal .modal-content, .swal-overlay--show-modal .swal-modal{
	background-color: #231f20;
    color: #fff;
    border-radius: 0;
    border: 0;
    padding: 20px;
}

 .swal-overlay--show-modal .swal-modal .swal-title{
 	color: #fff; 
    font-family: 'Lora', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
 }
 
 .swal-overlay--show-modal .swal-modal .swal-text{
 	color: #fff; 
    font-weight: normal;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
 }
 
 .swal-overlay--show-modal .swal-modal .swal-button,
 .swal-overlay--show-modal .swal-modal .swal-button:hover,
 .swal-overlay--show-modal .swal-modal .swal-button:active,
 .swal-overlay--show-modal .swal-modal .swal-button:focus{
 	border: 0;
 	border-radius: 0 ;
    box-shadow: none !important;
    background: #ff396e !important;
 }
 
 .swal-overlay--show-modal .swal-modal .swal-footer{
 	text-align: center;
 }

.modal-header .modal-title{
	text-transform: uppercase;
	font-family: 'Lora', sans-serif;
    font-size: 25px;
    margin: 0 0 15px;
    font-weight: 100;
    text-align: center;
}

.modal-body .modal-title{
	text-transform: uppercase;
    font-family: 'Lora', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
}

.modal-button{
	margin-top: 20px;
}

.modal-button button{
    border: 0;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    height: 35px;
    padding: 0 20px;
}

.modal-button button.encerrar, 
.modal-button button.btnFinalizar{
	background: transparent;
    border: 2px solid #fff;
}

.modal-button .btnEncaminhar, 
.modal-button .btnProsseguir{
	float: right;
}

.modal-body .nome-servico,
.modal-body .tipo-servico,
.modal-body .modal-subtitle{
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Dosis', sans-serif;
    width: 100%;
    text-align: center;
    margin: 0;
}

.modal-body div h2{
	text-align: center;
	font-size: 19px;
    text-transform: uppercase;
    font-family: 'Lora', sans-serif;
}

.modal-body .modal-subtitle{
	font-family: 'Montserrat', sans-serif
}

.modal-container .modal-main p.modal-pass,
.modal-container .modal-main p.modal-type{
	font-size: 17spx;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
}